.mainMenu {
    padding-right: 5px;
    padding-top: 8px;
    font-size: 14px;
}

.mainMenu span {
    font-family: "IRANSANS_Bold";
}

.subMenu {
    padding-right: 18px;
    font-size: 13px;
    font-family: "IRANSANS_Medium";
}
